body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2rem;
}

.content {
    padding: 12% 10%;
}

/* NAV */
.main-nav {
    color: #6D6875;
    display: flex;
    list-style: none;
    font-size: 1rem;
    padding: 20px 15px;
    margin-top: 0px;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 1em;
        padding: 0;
    }
}

.main-nav li {
    font-size: 1rem;
}

.main-nav li:hover {
    cursor: pointer;
}

.nav-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 60px;
}

.sticky {
    position: fixed;
    margin-top: 0;
    width: 100vw;
}

li {
    text-align: left;
    padding-right: 30px;
}

a {
    color: #534b5f;
    text-decoration: none;
}

/* DROPDOWN NAV */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    font-size: 0.9rem;
    width: 40px;
    padding: 8px 12px;
    display: block;
}

/* COVER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
    height: 60vh;
    padding: 60px;
    margin: 40px
}

.cover {
    width: 100vw;
}

.cover > img {
    margin-top: 80px;
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* PROJECT GRID */
.grid-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    padding: 50px 30px;
}

.project-square {
    margin: 20px 20px 20px 20px;
    background-color: #ffffff;
    border: solid 1px #6D6875;
    padding: 20px;
    align-self: center;
    justify-self: center;
}

.project-square>img {
    height: 100px;
    width: 100px;
}

footer {
    text-align: center;
    padding: 40px 400px;
}

.zone {
    cursor:pointer;
    color:#6D6875;
    transition: all 0.5s linear;
}

.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 2px 2px, inset rgba(0,0,0,0.1) 0px -5px 5px;
}


.project-square:hover {
    cursor: pointer;
    background-color: rgba(181, 131, 141, 0.4);
    transition: 0.2s;
}

/* CHEATSHEETS */
.cheat-sheets a {
    color: #6D6875
}

/* ABOUT ME */
.bio > img {
    width: 20%;
}

.bio p {
    width: 40%;
}

/* WRITEUPS */
.writeup > section {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* MP0: PORTFOLIO SITE */
.writeup img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}