/* .w95-cursor {
  cursor: url("chrome-extension://__MSG_@@extension_id__/../cursor.png");
} */

body {
  width: max-content;
  margin: 0;
  font-family: "Microsoft Sans Serif";
  font-size: 1rem;
  user-select: none;
}

@font-face {
  font-family: "Microsoft Sans Serif"; /*The name you choose goes here*/
  src: url(../font/MS-Sans-Serif-8pt.ttf);
}

.microsoft-sans-serif {
  font-family: "Microsoft Sans Serif";
}


button {
  width: 100%;
}

input[type="color"] {
  width: 100%;
}

.popup-title {
  font-weight: 900;
  background-color: #01007C;
  color: white;
  width: 100%;
  padding: 5px;
}

.popup-content {
  padding: 5px;
  background-color: #C0C0C0;
}

/* Toggle Switch; courtesy of w3schools */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-style: outset;
  /* box-shadow: 1px 1px 1px red;
  box-shadow: -1px -1px 1px white; */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + #slider {
  background-color: #4B7677;
}

input:focus + #slider {
  box-shadow: 0 0 1px #4B7677;
}

input:checked + #slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
